* {
    font-family: Open Sans Light, sans-serif;
    font-size: 13px;
    color: #2c3e50;
}

html { height: 100% }
body { height: 100%; }

header {
    height: 10%;
    background-color: floralwhite;
}

div#main { height: 84%; }

section#buttons {
    height: 35%; 
    width: 100%;
    border-top: 1px solid #2c3e50;
}

section#scoreboard {
    height: 65%;
    width: 100%;

    border-top: 1px solid #2c3e50;
    border-bottom: 1px solid #2c3e50;
    background-color: aliceblue;
}

div#player-score,
div#computer-score {
    height: 70%;
    width: 28%;
}

div#events {
    height: 90%;
    width: 33%;
    margin: 2%;
    overflow: auto;
}

footer {
    height: 6%;
    background-color: floralwhite;
}

.container {
    display: flex;
    align-items: center;
}

.row { flex-direction: row; }
.col { flex-direction: column; }

.center { justify-content: center; }
.spaced { justify-content: space-between; }
.left { justify-content: flex-start; }
.right { justify-content: flex-end; }

h1 { margin-left: 2%; }

button {
    height: 60%;
    width: 22%;

    border: 1px solid #2c3e50;
    margin: 0 15px;
    background-color: whitesmoke;

    font-size: 25px;
    letter-spacing: 5px;
}

button:hover { color: white; }
button#rock:hover { background-color: #2ecc71; }
button#paper:hover { background-color: #f1c40f; }
button#scissors:hover { background-color: #3498db; }

#player-score,
#events,
#computer-score {
    border: 1px solid #2c3e50;
    background-color: white;
}

#events { padding: 15px; }

#player-score h2,
#computer-score h2 { margin-bottom: 15px; }

#player-score p,
#computer-score p {
    width: 175px;
    padding: 40px;
    margin: 0;

    border: 1px solid #2c3e50;
    background-color: mintcream;

    font-size: 50px;
    text-align: center;
}

.player-turn,
.computer-turn {
    margin: 0;
    font-size: 15px;
}

.player-turn {
    text-align: left;
    color: #9b59b6;
}

.computer-turn {
    text-align: right;
    color: #e74c3c;
}

.result {
    width: 100%;
    margin: 16px 0;
    background-color: #1abc9c;
    
    font-size: 17px;
    color: white;
    text-align: center;
}

.game-over {
    white-space: pre-line;
    border-top: 2px solid #16a085;
    border-bottom: 2px solid #16a085;

    font-size: 30px;
    color: #16a085;
    text-align: center;
}

#player-score p:hover,
#computer-score p:hover { color: white; }

#player-score p:hover { background-color: #9b59b6; }
#computer-score p:hover { background-color: #e74c3c; }

footer span { margin-right: 1%; }